<%= form_for(@appliance, url: user_appliance_path) do |f| %>
  <% if @appliance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appliance.errors.count, "error") %> prohibited this appliance from being saved:</h2>

      <ul>
      <% @appliance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @error == 1 %>
  <div id="error_explanation">
    <h2>Error, prohibited this appliance from being saved:</h2>
    <ul>
      <li>Port <%=@params_port%> had already taken</li>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.check_box :state %>
  </div>
  <div class="field">
    <%= f.label :port %><br>
    <%= f.text_field :port %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
