<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Appliances User: <%= current_user.email%> </a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <%=link_to "Log Out",destroy_user_session_path, method: :delete%>
     </li>
<<<<<<< HEAD
     <li>
       <%=link_to "Add New Appliance",new_user_appliance_path(current_user)%>
     </li>
=======
>>>>>>> fixauth
   </ul>

 </div><!-- /.container-fluid -->
</nav>

<div class="col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    
    <li id="add_new_appliance">
       <%=link_to "Add New Appliance",new_appliance_path%>
     </li>
    
  </ul>
</div>

<<<<<<< HEAD

<%if current_user.appliances.size == 0 %>
<div class="col-md-10">
  <h1>You Have No Appliance To Control Yet, Go Create One! </h1> <button type="button" class="btn btn-success" id="success"><%=link_to "Add New Appliance",new_user_appliance_path(current_user)%></button>
</div>
<%end%>


<div class="col-md-10">
=======
<div class="col-md-8">
>>>>>>> fixauth
  <% @appliances.each do |appliance| %>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3"><%= image_tag appliance.image %><br>
      <%= link_to appliance.name, user_appliance_path(current_user,appliance) %>
    </div>

    <div class="col-md-3" id="btn">
      <%if appliance.state == true %>
      <button type="button" class="btn btn-success" id="success">
        <%=link_to "ON", user_appliance_path(current_user, appliance,  appliance:{state: :false}), method: :put, remote: true, id: appliance.id %>
      </button>
      <%end%>

      <%if appliance.state == false %>
      <button type="button" class="btn btn-danger" id="danger">
        <%= link_to 'OFF', user_appliance_path(current_user,appliance, appliance:{state: :true}), method: :put, remote: true,
        id: appliance.id %>
      </button>
      <%end%>
    </div>

    <div class="col-md-3">
      <button type="button" class="btn btn-default btn-sm">
        PORT <%= appliance.port %>
      </button>
    </div> 

  </div>
  <hr>   
  <% end %>
</div>

<div class="col-md-2 rightbar">
  <div class="row note">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
</div>

