<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">My Appliances</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li>
       <%=link_to "Add New Appliance",new_appliance_path%>
     </li>
   </ul>

 </div><!-- /.container-fluid -->
</nav>

<div class="col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
    <li><a href="#">Reports</a></li>
    <li><a href="#">Analytics</a></li>
    <li><a href="#">Export</a></li>
  </ul>
</div>

<div class="col-md-8">
  <% @appliances.each do |appliance| %>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3"><%= image_tag appliance.image %><br>
      <%= link_to appliance.name, appliance %>
    </div>

    <div class="col-md-3" id="btn">
      <%if appliance.state == true %>
      <button type="button" class="btn btn-success" id="success">
      <%=link_to "ON", appliance_path(appliance,  appliance:{state: :false}), method: :put, remote: true, id: appliance.id %>
      </button>
      <%end%>

      <%if appliance.state == false %>
      <button type="button" class="btn btn-danger" id="danger">
      <%= link_to 'OFF', appliance_path(appliance, appliance:{state: :true}), method: :put, remote: true,
      id: appliance.id %>
      </button>
      <%end%>
    </div>

    <div class="col-md-3">
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span><%= link_to ' Destroy', appliance, method: :delete, data: { confirm: 'Are you sure?' } %>
      </button>
    </div> 

  </div>
  <hr>   
  <% end %>
</div>

<div class="col-md-2 right">
  <ul class="nav nav-sidebar">
    <li id="saved_message"></li>
  </ul>
</div>

