<p id="notice"><%= notice %></p>

<p>
  
  <strong>
  <%= @appliance.name %>
  </strong>
</p>

<%= link_to 'Edit', edit_user_appliance_path(current_user,@appliance) %> |
<%= link_to 'Back', user_appliances_path(current_user) %>|<%= link_to ' Destroy', user_appliance_path(current_user,@appliance), method: :delete, data: { confirm: 'Are you sure?' } %>
