<p id="notice"><%= notice %></p>

<p>
  
  <strong>Name:</strong>
  <%= @appliance.name %>
  <strong>Port:</strong>
  <%= @appliance.port %>
</p>

<%= link_to 'Edit', edit_appliance_path(@appliance) %> |
<%= link_to 'Back', appliances_path %>
