<p id="notice"><%= notice %></p>

<p>
  
  <strong>
  <%= @appliance.name %>
  </strong>
</p>

<%= link_to 'Edit', edit_appliance_path(@appliance) %> |
<%= link_to 'Back', appliances_path %>|<%= link_to ' Destroy', @appliance, method: :delete, data: { confirm: 'Are you sure?' } %>
